.cart-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 2%;
}

.cart-context{
    margin-top: 10px;
    background-color: #dedede;
    width: 80%;
    height: 100%;
}

.cart-title{
    font-size: 50px;
    font-family: 'silkscreen', serif;
    background-color: black;
    color: white;
    width: auto;
}

.cart-items {
    display: flex;
    flex-direction: column;
    gap: 16px;
    min-height: 300px;
    background-color: #dedede;
    border-radius: 10px;
    margin: 10px;
}

.cart-total{
    font-weight: bold;
    font-size: 26px;
    margin: 0 3px 10px 10px; ;
}